<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cst2335.groupproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PkgMain.M_MainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".PkgActivity.T_Insert"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".PkgActivity.T_Update"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".PkgActivity.T_Help"
            android:excludeFromRecents="true"
            android:label="@string/tracker_help_title"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".PkgFood.FoodList"
            android:theme="@style/FoodAppTheme" />
        <activity
            android:name=".PkgFood.FoodAdd"
            android:theme="@style/FoodAppTheme" />
        <activity
            android:name=".PkgFood.FoodUpdateDetails"
            android:theme="@style/FoodAppTheme" />
        <activity
            android:name=".PkgFood.FoodDashboard"
            android:label="@string/food_Dashboard_titleBar"
            android:theme="@style/FoodAppTheme" />
        <activity
            android:name=".PkgHouse.homeThermo_mainPkg.AddNewTempActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".PkgHouse.homeThermo_mainPkg.fragmentTempPkg.FragmentMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".PkgHouse.adapterPkg.HelpActivity" />
        <activity android:name=".PkgHouse.homeThermo_mainPkg.HouseThermostatActivity" />
        <!-- automobilt -->
        <activity
            android:name=".PkgAutomobile.AutomobileActivity"
            android:label="@string/title_a"
            android:theme="@style/AutoAppTheme" />
        <activity android:name=".PkgAutomobile.AutomobileDetail" />
        <activity android:name=".PkgAutomobile.AutomobileEntry" />
        <activity android:name=".PkgAutomobile.AutomobileMonthlypurchase" />
        <!-- end of auto -->
        <activity
            android:name=".PkgMain.SplashScreenActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>